.nav-ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 10px;
  justify-content: center;
}

a {
  text-decoration: none;
  color: blue;
  font-size: larger;
}

.books-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.books {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.categories-heading {
  text-align: center;
}
